# Example of setting up your .env using OpenAI
# OpenAI API Key
OPENAI_API_KEY=your_api_key_here

# Assistant / workflow IDs (if applicable)
ASSISTANT_ID=your_assistant_id_here

# You can implement more than one assistant/agent into your script for a more complex analysis
ASSISTANT2_ID=your_assistant2_id_here
ASSISTANT3_ID=your_assistant3_id_here